.ellipsis-button {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap:2px;
  }
  
  .dot {
    width: 2.5px;
    height: 2.5px;
    background-color: #71797E; /* Change color as needed */
    border-radius: 50%;
    margin: 2px 0;
  }